.billing_form .form_group input {
    border: 1px solid var(--card-bg-02);
}

.checkout_cart {
    padding: 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
}

.checkout_cart h6,
h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout_cart h6 {
    margin-bottom: 20px;
}

.checkout_cart h4 {
    border-top: 1px solid rgba(221, 221, 221, 0.253);
    padding-top: 20px;
}

.auth_btn{
    background: #fff;
    color: var(--primary-color);
    font-weight: bold;
}

.success-toast{
    background-color: #007bff !important;
    color: #fff !important;
    font-size: 16px !important;
    padding: 12px !important;
    border-radius: 8px !important;
  }
  
  .success-toast .Toastify__progress-bar {
    background-color: #ffcc00 !important; /* Custom progress bar color */
  }